
  <header class="d-flex flex-wrap py-3 mb-4 border-bottom">
    <a routerLink="" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none mx-5">
      <img src="../../../assets/loghi/logo autosalone.jpg" alt="">
    </a>

    <ul class="nav nav-pills d-flex align-items-center">
      <li class="nav-item"><a routerLink="" class="nav-link text-warning" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="Fiat" class="nav-link text-warning">Marchio Fiat</a></li>
      <li class="nav-item"><a routerLink="Ford" class="nav-link text-warning">Marchio Ford</a></li>
      <li class="nav-item"><a routerLink="Audi" class="nav-link text-warning">Marchio Audi</a></li>
    </ul>
  </header>

