img{
    width: 30px;
}

body{
    margin: 50px;
}


.container{
    background-color: #FBF7E3;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu li{
    display: inline-block;
    flex-direction: row;
    align-content: space-evenly;
}
