.yellowBg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc017;
    border-bottom: 1px solid black;
  }
  
  .yellowBgText {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .yellowBgText h1 {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 106px;
  }
  .yellowBgText p {
    font-weight: 500;
    font-size: 17px;
  }
  .yellowBgText a {
    width: 170px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
  }







  .trendingContainer {
    display: flex;
    flex-direction: column;
    margin: 50px 300px;
  }
  .trendingTitle {
    display: flex;
  }
  .trendingContainer img {
    width: 20px;
  }
  .trendingCardsContainer {
    display: flex;
  }
  .trendingCardsContainer ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
  }
  .trendingCardsContainer li {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    gap: 20px;
  }
  .trendingCardsContainer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }