<app-navbar ></app-navbar>
<div class="row">
<div class="col-3" *ngFor="let product of products">
  <div class="card" style="width: 18rem;">
    <img [src]="[product.thumbnail]" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{product.price}}</li>
      <li class="list-group-item">Discount: {{product.discountPercentage}}%</li>
      <li class="list-group-item">Brand: {{product.brand}}</li>
      <li class="list-group-item">Category: {{product.category}}</li>
    </ul>
    <div class="card-body">
      <a href="#" (click)="addToFavourites(product)" class="card-link">Aggiungi ai preferiti</a>
    </div>
  </div>
</div>
<div class="col-3" *ngFor="let product of favouriteProducts">
  <div class="card" style="width: 18rem;">
    <img [src]="[product.thumbnail]" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{product.price}}</li>
      <li class="list-group-item">Discount: {{product.discountPercentage}}%</li>
      <li class="list-group-item">Brand: {{product.brand}}</li>
      <li class="list-group-item">Category: {{product.category}}</li>
    </ul>
    <div class="card-body">
      <a href="#" (click)="addToFavourites(product)" class="card-link">Aggiungi ai preferiti</a>
    </div>
  </div>
</div>
</div>

